html,
body {
  background-color: #007ea7;
  max-width: 1280px;
  margin: auto;
}
h1,
p,
h2 {
  color: snow;
}

/* Header area */

#title {
  font-size: 4rem;
}

header {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
}

header p {
  font-size: 1.8rem;
}

/* Canvas */

#canvas-holder {
  display: flex;
  justify-content: center;
}

canvas {
  border-radius: 0.5rem;
}

/* Description */

#description p {
  font-size: 1.5rem;
}
