html,
body {
  background-color: #181818;
  max-width: 1280px;
  margin: auto;
}
h1,
p {
  color: snow;
}

h1 {
  font-size: 4rem;
}

header {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
}

#canvas-holder {
  display: flex;
  justify-content: center;
}
